{% load static %}
{% load l10n %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    {% if title %}
        <title>Basal body temperature - {{ title }}</title>
    {% else %}
        <title>Basal body temperature</title>
    {% endif %}
</head>
<body>
    {% include 'menu.html' %}
    <main role="main" class="container">

      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Sidebar</h3>
            <p class='text-muted'>Personal menu:
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'profile' %}">Your profile</a> </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'chart-create' %}">Create new chart</a> </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'charts' %}">View charts</a> </li>
                <li class="list-group-item list-group-item-light">
                    <a href="#">Statistics</a> </li>
              </ul>
            </p>
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>