{% extends 'base.html' %}
{% block content %}

        <article>
            <h2>Welcome to our page!</h2>
        <p>The temperature method helps you predict when you’re going to ovulate by tracking the changes in your body temperature during your menstrual cycle.</p>
        </article>
        <article>
        <h3>How do I use the temperature method?</h3>
        <p>Your body temperature naturally changes a tiny bit throughout your menstrual cycle. It’s lower in the first part of your cycle, and then rises when you ovulate.
        For most people, 96-98 degrees Fahrenheit is their typical temperature before ovulation. After you ovulate, it goes up to 97-99°F.</p>
            source: <a href="https://www.plannedparenthood.org/learn/birth-control/fertility-awareness/whats-temperature-method-fams">https://www.plannedparenthood.org/</a>
        </article>


{% endblock %}