{% load i18n %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">BBT</a>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/admin">{% trans "Admin" %}</a>
          <a class="nav-item nav-link" href="{% url 'view-home' %}">{% trans "Home" %}</a>
          <a class="nav-item nav-link" href="{% url 'view-charts' %}">{% trans "Charts" %}</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Hello {{ request.user }}!</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>